.auto-input li:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  cursor: pointer;
}

.search-con {
  margin: 1rem;
  box-shadow: var(--box-shadow2);
  position: relative;
}

.search-con input {
  height: 2rem;
  outline: none;
  border: none;
  padding: 10px 3rem;
  width: 100%;
  padding-right: 10px;
}

.search-con span {
  position: absolute;
  top: 4px;
  left: 10px;
  cursor: pointer;
}

.search-con ul {
  list-style: none;
  box-shadow: var(--box-shadow2);
  margin-top: 7px;
  max-height: 14rem;
  overflow: auto;
}
.search-con ul > * {
  padding: 5px;
  margin: 5px 0;
}
