/* Hero */

.hero-container {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  height: 50rem;
}
.hero-content {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  color: var(--secondary-color);
  background-color: var(--footer-color);
  height: 50%;
}
.hero-img {
  display: flex;
  height: 50%;
}
.hero-img img {
  width: 100%;
  height: 100%;
}

.hero-content h1,p{
    text-align: center;
    margin:10px 0;
}

@media (min-width: 40rem) {
  .hero-container {
    margin: 1rem;
    height: 78vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:96vw
  }

  .hero-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    color: var(--secondary-color);
    background-color: var(--footer-color);
    height:100%
  }
  .hero-img {
    display: flex;
    width: 50%;
    height:100%
  }
}
