.toast-container {
  position: sticky;
  left: 61rem;
  bottom: 1rem;
  height: 4.5rem;
  width: 16rem;
  z-index: 1;
}
.toast {
  background-color: #fff;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--primary-color);
}

.loader-element {
  height: 5px;
  width: 100%;
  background-color: antiquewhite;
  position: absolute;
  bottom: 0px;
}

.loader-element:before {
  content: "";
  display: block;
  height: 5px;
  width: 0;
  background-color: var(--primary-color);
  animation: getWidth 1s ease-in infinite;
}

@keyframes getWidth {
  100% {
    width: 100%;
  }
}
