
.address-container{
    padding: 1rem;  
}
.address-container h2{
    text-align: center;
}
.address{
    margin: 1rem;
    padding: 1rem;
    box-shadow: var(--box-shadow1);
}

.address div{
    display: flex;
    justify-content: center;
}

.address div input{
    margin: 1rem;
}

.address div div{
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}

.address div div button{
    height: 2rem;
    padding: 0 1rem;
    border: none;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    margin:0 1rem;
    cursor: pointer;
}

.add-new-address{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}



