.login-container {
  height: 72vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--primary-font-family);
}
.login {
  width: 24rem;
  height: 22rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 0px 10px 4px #aaa;
}
.login h2 {
  text-align: center;
}
.email-container {
  display: flex;
  flex-direction: column;
}
.email-container input {
  height: 30px;
  padding: 10px;
}
.password-container {
  display: flex;
  flex-direction: column;
}
.password-container input {
  height: 30px;
  padding: 10px;
}
.forgotP-container {
  display: flex;
  justify-content: space-between;
}

.create-new {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.remember input {
  margin-right: 4px;
}

.login button {
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  border: none;
  color: #fff;
  cursor: pointer;
}

.login button:hover {
  background-color: var(--primary-color2);
}

#no-margin{
  margin:0px
}