* {
  box-sizing: border-box;
  margin-top: 0px !important;
  margin: 0px;
  padding: 0px;
  font-family: var(--primary-font-family);
}
:root {
  --primary-color: #d20a0a;
  --primary-color2: #9e0808;
  --secondary-color: #fff;
  --secondary-color2: #f1f5f9;
  --primary-font-family: "Klavika", Arial, sans-serif;
  --product-like: #d20a0a;
  --footer-color: #18181b;
  --box-shadow1: 0px 0px 10px 2px #aaa;
  --box-shadow2: 0px 0px 0 0.5px #aaa;
  --background-color: #52525b;
}
/* Navbar */
.main-nav {
  background-color: var(--primary-color);
  height: 10vh;
  display: flex;
  color: var(--secondary-color);
}
.brand-name {
  display: flex;
  align-items: center;
  padding: 0 2rem;
}
.search-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  left: 30%;
  transform: translateX(-50%);
  color: var(--footer-color);
}
.search-container > span {
  position: absolute;
  left: 5px;
}
.nav-search {
  height: 42%;
  outline: none;
  padding: 0 2rem;
  width: 18rem;
  border: none;
}
.nav-items {
  list-style: none;
  display: flex;
  align-items: center;
  width: 30%;
  justify-content: space-evenly;
  margin-left: auto;
}
.nav-items > li:nth-child(2) {
  position: relative;
}
.nav-items > li:nth-child(3) {
  position: relative;
}
.btn-login {
  padding: 0.3rem 1rem;
  border: none;
  border-radius: 3px;
}
.wishlist-no,
.cart-no {
  position: absolute;
  top: -11px;
  left: 15px;
  height: 16px;
  width: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

/* product */

.product-container {
  height: 22rem;
  width: 14rem;
  box-shadow: var(--box-shadow1);
  margin: 1rem;
  font-family: var(--primary-font-family);
}

.product-img {
  height: 60%;
  width: 100%;
  position: relative;
}
.product-img img {
  height: 100%;
  width: 100%;
}
.product-like {
  position: absolute;
  top: 3px;
  right: 10px;
  background-color: var(--secondary-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 2rem;
  cursor: pointer;
}
.pink {
  color: var(--product-like);
}
.product-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 40%;
}
.product-list p {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  font-size: 90%;
}
.product-list h2 {
  display: flex;
  justify-content: center;
}
.product-list button {
  height: 2rem;
  border: none;
  cursor: pointer;
}
.no-items p {
  color: var(--primary-color);
  margin: 1rem;
  font-size: 2rem;
  text-transform: uppercase;
}
/* Item */
.item-container {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  box-shadow: var(--box-shadow1);
  max-width: 16rem;
}
.item-img {
  position: relative;
}

.item-img img {
  width: 100%;
  height: 100%;
}
.item-list {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.item-list p {
  text-align: center;
  font-size: 90%;
}
.price {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.item-list h4 {
  display: flex;
  justify-content: center;
  margin: 10px;
}
.item-buttons {
  display: flex;
  flex-direction: column;
  height: 4rem;
  justify-content: space-evenly;
}

.item-buttons > * {
  height: 50%;
  border: none;
  margin: 2px;
  cursor: pointer;
  border-radius: 4px;
}

.background {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

/* CartItem-container */
.cartItem-container {
  display: flex;
  flex-direction: column;
  box-shadow: var(--box-shadow1);
  margin: 1rem;
}

.cartItem-img img {
  height: 100%;
  width: 100%;
}
.cartItem-list {
  height: 100%;
  width: 100%;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cartItem-content {
  width: 100%;
  height: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cartItem-content p {
  text-align: center;
  font-size: 90%;
  display: none;
}
.item-price {
  display: flex;
  justify-content: space-around;
  align-items: end;
  margin: 10px;
}
.cartItem-content h4 {
  text-align: center;
}
.qty {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px;
}
.qty-value {
  height: 1.5rem;
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid;
  font-weight: bold;
}
.qty span {
  cursor: pointer;
}
.cartItem-buttons {
  width: 100%;
  height: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cartItem-buttons > * {
  height: 15%;
  margin: 0.5rem 0;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}
.qty span {
  margin: 0 2px;
}

/* Price Details(Cart) */

.priceDetail-container {
  width: 20rem;
  height: 20rem;
  margin: 1rem;
  display: flex;
  padding: 1rem;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: var(--box-shadow1);
}
.priceDetail-container h2 {
  font-size: 95%;
}

.priceDetail-price,
.priceDetail-discount,
.priceDetail-DC,
.priceDetail-total {
  display: flex;
  justify-content: space-between;
}

.priceDetail-container button {
  height: 2rem;
  border: none;
  cursor: pointer;
}

.coupons input {
  width: 75%;
  height: 100%;
  padding: 5px;
  outline: none;
}

.coupons button {
  width: 25%;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: none;
}

/* Filter */
.filter-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 0.5rem;
  margin: 1rem;
  box-shadow: var(--box-shadow2);
}

.filter-container h2 {
  font-size: 120%;
}
.filter {
  display: flex;
  justify-content: space-between;
}
.filter-container input {
  cursor: pointer;
  margin-right: 5px;
}
.filter p {
  text-decoration: underline;
  cursor: pointer;
}
.range {
  display: flex;
  justify-content: space-between;
}
.filter-container > * {
  margin-bottom: 0.5rem;
}

/* product display */
.display-container {
  width: 16rem;
  height: 10rem;
  position: relative;
  margin: 1rem;
  box-shadow: var(--box-shadow1);
}
.display-container img {
  height: 100%;
  width: 100%;
}
.display-container button {
  position: absolute;
  bottom: 5px;
  left: 12px;
  width: 90%;
  height: 2rem;
  border: none;
  background-color: var(--secondary-color);
  cursor: pointer;
  border-bottom: 4px solid var(--primary-color);
  transition: transform 0.2s;
}
.display-container button:hover {
  transform: scale(1.1, 1.2);
}

/* Categories */

.card {
  position: relative;
  margin: 3rem;
  width: 22rem;
}
.card-img {
  width: 100%;
  height: 100%;
}
.card-img img {
  width: 100%;
}

.card-img div:hover {
  transform: scale(1.1, 1.3);
}
.card-img div {
  background-color: var(--secondary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 4px solid var(--primary-color);
  position: absolute;
  width: 100%;
  padding: 0 1rem;
  left: 0;
  cursor: pointer;
  transition: transform 0.2s;
}

/* products page */

.product-section {
  display: flex;
  flex-direction: column;
}
.all-products {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 0.5rem;
  margin: 1rem;
  box-shadow: var(--box-shadow2);
}

.all-products h1 {
  text-align: center;
  font-size: 1rem;
}
.lighter {
  font-weight: lighter;
}

.all-products div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* Routing */
.link {
  display: block;
  text-decoration: none;
  color: var(--secondary-color);
}

/* Cart page */
.cart-header {
  text-align: center;
  font-size: 1.5rem;
}
.cart-box {
  display: flex;
  justify-content: center;
  margin: 1rem;
  box-shadow: var(--box-shadow2);
  flex-wrap: wrap;
  align-items: center;
}
#cart-box-img {
  height: "80%";
  width: "44%";
}
/* WishList page */
.wishList {
  display: flex;
  justify-content: center;
  margin: 1rem;
  box-shadow: var(--box-shadow2);
  flex-wrap: wrap;
  align-items: center;
}
.wishList-header {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem;
  margin: 1rem;
}
.wishList img {
  height: 100%;
  width: 100%;
}

/* Home page */
.fighters,
.categoryshop {
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  box-shadow: var(--box-shadow2);
}
.text-center {
  text-align: center;
  margin: 2rem 0;
}

#dark {
  background-color: var(--footer-color);
  color: var(--secondary-color);
}
#dark2 {
  background-color: var(--footer-color);
}
#dark-background {
  background-color: var(--background-color);
}
#dark-color {
  color: var(--footer-color);
}

@media (min-width: 40rem) {
  .card-img div {
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: row;
    height: 4rem;
    justify-content: space-between;
    align-items: center;
    border-bottom: 4px solid var(--primary-color);
    position: absolute;
    width: 20rem;
    padding: 0 1rem;
    top: 26.7rem;
    left: 16px;
    cursor: pointer;
    transition: transform 0.2s;
  }
  .filter-container {
    width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 0.5rem;
    margin: 1rem;
    box-shadow: var(--box-shadow2);
  }

  .product-section {
    display: flex;
    flex-direction: row;
  }

  .all-products {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 0.5rem;
    margin: 1rem;
    box-shadow: var(--box-shadow2);
    width: 80rem;
  }
  .cartItem-list {
    height: 100%;
    width: 70%;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .cartItem-container {
    width: 40rem;
    height: 14rem;
    display: flex;
    flex-direction: row;
    box-shadow: var(--box-shadow1);
    margin: 1rem;
  }

  .cartItem-img {
    height: 100%;
    width: 30%;
  }

  .cartItem-content {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 10rem;
  }

  .cartItem-content p {
    text-align: center;
    font-size: 90%;
    display: inline;
    padding-top: 10px;
  }

  .item-price {
    display: flex;
    justify-content: space-around;
    align-items: end;
    margin: 0px;
  }

  .qty {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
  }

  .cartItem-buttons {
    width: 66%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
